<p id="notice"><%= notice %></p>
<div class="center">
  <table class="table white">
    <thead>
      <th colspan="2">
        <h1><%= @cocktail.name %></h1>
      </th>
    </thead>
      <tbody>
        <% @doses_cocktail.each do |dose| %>
        <tr>
          <td><%= dose.ingredient.name + ' : ' + dose.description %>
          </td>
          <td>
            <%= link_to 'destroy', dose, method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
<h3>Add a new ingredient</h3>
<%= render 'doses/form' %>

<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>
