<p id="notice"><%= notice %></p>

<h1><%= @cocktail.name %></h1>

<h3>Add a new ingredient</h3>
<%= render 'doses/form' %>

<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>
